# Use postgres/example user/password credentials
version: '3.1'

services:

  db:
    container_name: ads_db
    image: postgres:15.1-bullseye
    ports:
     - "5432:5432"
    restart: always
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
      POSTGRES_DB: ad_site
